@inherits LayoutComponentBase

<NavMenu/>

<div class="container body-content">
    @Body
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>
