@using Microsoft.AspNetCore.Components.Authorization
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Application name</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><NavLink class="nav-link" href="/" Match="NavLinkMatch.Prefix">Home</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="/counter" Match="NavLinkMatch.Prefix">Counter</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="/weather" Match="NavLinkMatch.Prefix">Weather</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="/about" Match="NavLinkMatch.Prefix">About</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="/contact" Match="NavLinkMatch.Prefix">Contact</NavLink></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sessions</a>
                    <ul class="dropdown-menu">
                        <li><NavLink class="dropdown-item" href="/session">Session (Blazor)</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/sessionpage">Session (WebForms)</NavLink></li>
                    </ul>
                </li>
            </ul>
            <!-- Authentication links using Blazor's built-in authentication -->
            <AuthorizeView>
                <Authorized>
                    <ul class="navbar-nav navbar-right">
                        <li><NavLink class="nav-link" href="/account/manage" title="Manage your account"> Hello, @context.User.Identity?.Name</NavLink></li>
                        <li><NavLink class="nav-link" href="/account/logout">Log off</NavLink></li>
                    </ul>
                </Authorized>
                <NotAuthorized>
                    <ul class="navbar-nav navbar-right">
                        <li><NavLink class="nav-link" href="/account/register">Register</NavLink></li>
                        <li><NavLink class="nav-link" href="/account/login">Log in</NavLink></li>
                    </ul>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</nav>